@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

form.login , form.register{
    max-width: 450px;
    margin: 0 auto;
}

form.login h1 , form.register h1{
    text-align: center;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

button{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    padding: 7px 0;
}

footer{
    text-align: center;
    margin-top: 17px;
    font-size: 14.6px;
}

footer a{
    color: #555;
    text-decoration: none;
}